# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude interim data
data

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo
